body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Orbitron;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  background-color: black;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

header {
  font-size: 200%;
  font-weight: bold;
  display: block;
  margin: 20px;
}

#game {
  background-color: black;
  margin-top: 40px;

  min-height: 500px;
  min-width: 500px;
  background-position: center;
  position: relative;
  transform: scale(1.3);
}

#tools {
  margin-top: 60px;
  transform: scale(1.3);
  position: absolute;
  top: 60px;
  z-index: 3;
  font-family: Orbitron;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  font-size: 150%;
}
